
body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    color: #ffffff;
    background-color: #8DC63F;
}

.sobre {
    width: 80%;
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    background-color: #414042;
    display:flex;
    flex-direction: column;
    justify-content: center;
    gap: 100px;
}

.produtos {
    width: 80%;
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    background-color: #414042;
}

.vantagens {
    width: 80%;
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    background-color: #414042;
}

.contato {
    width: 80%;
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    background-color: #414042;
}

h1 {
    font-size: 36px;
    color: #8DC63F;
    text-align: left;
    font-weight: bold;
}

h2 {
    font-size: 24px;
    color: #8DC63F;
    text-align: center;
    font-weight: bold;
}

p {
    text-align: justify;
    line-height: 1.5;
}

img {
    display: block;
    margin: 10px auto;
    width: 200px;
    height: 200px;
}

ul {
    list-style-type: none;
}

li {
    margin: 10px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

label {
    margin: 10px;
}

input, textarea {
    width: 80%;
    padding: 10px;
    border: 1px solid #ccc;
}

button {
    margin: 10px;
    padding: 10px;
    width: 20%;
    border: none;
    background-color: #0099ff;
    color: #fff;
    cursor: pointer;
}

/* Estilos para telas menores que 600px */
@media (max-width: 600px) {
    section {
        width: 90%;
    }

    h1 {
        font-size: 28px;
    }

    h2 {
        font-size: 20px;
    }

    img {
        width: 150px;
        height: 150px;
    }

    input, textarea {
        width: 90%;
    }

    button {
        width: 30%;
    }
}
